<!-- sections/header -->
<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header class="SiteHeader" role="banner">
    <div class="SiteHeader__menu">
      <button class="menu">Hamburger</button>
    </div>

    <div class="SiteHeader__logo" itemscope itemtype="http://schema.org/Organization">
      <a href="/" itemprop="url">
        <img src="{{ section.settings.logo | img_url }}" itemprop="logo">
      </a>
    </div>

    <div class="SiteHeader__cart">
      <a href="/cart">
        {% include 'icon-cart' %}
        {{ 'layout.cart.title' | t }}
        ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
      </a>
    </div>
  </header>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Header Logo"
      }
    ]
  }
{% endschema %}
